.card-order {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;

  &__img {
    width: 120px;
    height: 120px;
    border: 2px solid $light;

    grid-row: span 2;
  }

  &__delete {
    justify-self: center;
    cursor: pointer;

    & svg {
      fill: $black;
      transition: 0.2s ease;
    }

    &:hover {
      & svg {
        fill: $aqua;
      }
    }
  }

  &__price {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .card-order {
    gap: 15px;

    &__img {
      width: 90px;
      height: 90px;
      border-width: 1px;
    }

    &__delete {
      & svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}
