.checkbox {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  & input {
    display: none;

    &:checked ~ label {
      &::before {
        background-color: $black;
        border-color: #e3e3e3;
      }

      & .checkbox__color {
        border: 2px solid $light;
      }

      & p {
        color: $aqua;
      }
    }
  }

  & label {
    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e3e3e3;
      border: 6px solid transparent;
      flex-shrink: 0;

      transition: 0.2s ease;
    }

    & p {
      color: $black;
      transition: 0.2s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        & p {
          color: $aqua;
        }
      }
    }
  }

  &__img {
    width: 65px;
    height: 65px;

    & img {
      object-fit: contain;
    }
  }

  &__text {
    font-weight: 700;
    text-align: right;
    white-space: nowrap;
  }

  &__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &--color {
    & label {
      &::before {
        content: none;
      }
    }
  }

  &--columns {
    display: grid;
    grid-template-columns: 1fr 14% 14%;
    gap: 0;
  }
}

@media (max-width: 767px) {
  .checkbox {
    & label {
      font-size: 12px;
      gap: 15px;

      &::before {
        width: 20px;
        height: 20px;
        border-width: 5px;
      }

      & p {
        font-size: 12px;
      }
    }

    &__img {
      width: 34px;
      height: 34px;
    }

    &__color {
      width: 24px;
      height: 24px;
    }
  }
}
