.counter {
  display: flex;
  align-items: center;
  gap: 4px;

  &__btn {
    &.minus {
      transform: rotate(90deg);
    }

    &.plus {
      transform: rotate(-90deg);
    }
  }

  &__amount {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $light;

    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
    }
  }
}

@media (max-width: 767px) {
  .counter {
    &__btn {
      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__amount {
      width: 26px;
      height: 26px;

      & span {
        font-size: 12px;
      }
    }
  }
}
