.dropdown {
  position: relative;

  &__head {
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
  }

  &__icon,
  &__current {
    background-color: $white;
    border-radius: 50%;
    flex-shrink: 0;

    transition: 0.2s ease;
    cursor: pointer;

    & svg {
      fill: $black;
    }
  }

  &__icon {
    @media (any-hover: hover) {
      &:hover {
        background-color: $aqua;
      }
    }
  }

  &__arrow {
    flex-shrink: 0;
    transition: 0.2s ease;

    & svg {
      fill: $white;
    }
  }

  &__wrapper {
    overflow: hidden;

    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    &::before {
      content: "";
      display: block;
      width: 66%;
      height: 2px;
      background-color: $white;

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  &__body {
    padding: 30px;
    border-radius: 0 0 99px 99px;
    background-color: $black;

    display: flex;
    flex-direction: column;
    gap: 20px;

    transform: translateY(-100%);
    transition: 0.3s ease;
  }

  &.open {
    & .dropdown {
      &__arrow {
        transform: rotate(-90deg);
      }

      &__body {
        transform: translateY(0);
      }
    }
  }
}
