.footer {
  background-color: $black;

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 10px;
    padding: 50px 0;
  }

  & h3 {
    font-weight: 600;
    font-size: 26px;
    color: $white;
  }

  &__list {
    margin-top: 35px;
  }

  &__item a {
    font-size: 21px;
    line-height: 145%;
    color: $grey;

    transition: 0.2s ease;

    &:hover {
      color: $aqua;
    }
  }

  &__phone {
    display: block;
    margin-top: 35px;

    font-weight: 700;
    font-size: 26px;
    color: $white;

    & span {
      display: block;
      font-weight: 400;
      font-size: 21px;
    }
  }

  &__mail {
    display: block;
    margin-top: 20px;

    color: $white;
  }

  &__social {
    display: flex;
    gap: 15px;

    margin-top: 30px;
  }

  &__icon {
    display: block;
    border-radius: 50%;
    background-color: $white;

    transition: 0.2s ease;

    & svg {
      fill: $black;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $aqua;
      }
    }
  }

  &__chat {
    position: absolute;
    bottom: 50px;
    right: -150px;
  }

  &__copyright {
    padding: 30px 0;
    background-color: #101010;

    & p {
      color: $grey;
      text-align: center;
    }
  }
}

@media (max-width: 1599px) {
  .footer {
    &__chat {
      position: absolute;
      bottom: 50px;
      right: -30px;
    }
  }
}

@media (max-width: 1279px) {
  .footer {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }

    &__catalog {
      order: 1;
    }

    &__info {
      order: 2;
    }

    &__chat {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__wrapper {
      padding: 20px 0;
    }

    &__logo .logo {
      max-width: 100px;
    }

    &__list,
    &__social {
      margin-top: 20px;
    }

    & h3 {
      font-size: 14px;
    }

    &__item a {
      font-size: 12px;
    }

    &__phone {
      margin-top: 20px;
      font-size: 12px;

      & span {
        font-size: 12px;
      }
    }

    &__mail {
      margin-top: 10px;
    }

    &__social {
      gap: 10px;
    }

    &__icon svg {
      width: 20px;
      height: 20px;
    }

    &__copyright {
      padding: 15px 0;

      & p {
        font-size: 10px;
      }
    }
  }
}
