.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__checkbox {
    padding-bottom: 20px;
    border-bottom: 2px solid $light;

    &.disable {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__sub-checkbox {
    margin-top: 20px;
    margin-left: 45px;

    &:not(:last-of-type) {
      padding-bottom: 20px;
      border-bottom: 2px solid $light;
    }
  }

  &__hint {
    margin-top: 10px;
    margin-left: 45px;

    &--aqua {
      color: $aqua;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &--upload {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  & input {
    width: 100%;
    background-color: $light;
    border-radius: 99px;
    padding: 15px 20px;
    border: 2px solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 110%;

    transition: 0.2s ease;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &[type="file"] {
      display: none;
    }

    &:focus {
      border-color: $aqua;
    }
  }

  & textarea {
    width: 100%;
    height: 126px;
    background-color: $light;
    border-radius: 25px;
    padding: 15px 20px;
    border: 2px solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 110%;

    resize: none;
    transition: 0.2s ease;

    &:focus {
      border-color: $aqua;
    }
  }

  &__error {
    display: none;
    padding: 0 20px;

    font-size: 14px;
    line-height: 110%;

    & a {
      color: $aqua;
    }

    &.active {
      display: block;
    }
  }

  &__upload {
    display: flex;
    align-items: center;
    gap: 30px;

    cursor: pointer;

    &-icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $light;
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    &-text {
      max-width: 210px;
      border-bottom: 1px solid $aqua;
      padding-bottom: 2px;
    }

    &-delete {
      padding: 4px;

      & svg {
        transition: 0.2s ease;
      }

      &:hover {
        & svg {
          fill: $aqua;
        }
      }
    }
  }

  &__select {
    margin-top: 15px;
  }

  &--cart {
    margin-top: 25px;
  }

  &--modal {
    gap: 15px;

    & input {
      padding: 20px;
      font-size: 21px;
    }
  }

  &--min {
    flex-direction: row;
    align-items: center;
    gap: 10px;

    & input {
      padding: 20px;
      font-size: 21px;
    }

    & .form {
      &__btn-send {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $black;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        transition: 0.2s ease;

        & svg {
          fill: $white;
          transform: rotate(-90deg);
        }

        &:hover {
          background-color: $aqua;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    gap: 15px;

    &__checkbox {
      padding-bottom: 15px;
      border-bottom-width: 2px;
    }

    &__sub-checkbox {
      margin-top: 15px;
      margin-left: 35px;

      &:not(:last-of-type) {
        padding-bottom: 15px;
        border-bottom-width: 1px;
      }
    }

    &__hint {
      margin-top: 5px;
      margin-left: 35px;

      font-size: 10px;
    }

    & input {
      border-width: 1px;
      font-size: 12px;
    }

    & textarea {
      height: 126px;
      font-size: 12px;
    }

    &__error {
      font-size: 12px;
    }

    &__upload {
      gap: 15px;

      &-icon {
        width: 50px;
        height: 50px;

        & svg {
          width: 26px;
          height: 26px;
        }
      }

      &-text {
        max-width: 170px;
      }

      &-delete {
        & svg {
          width: 26px;
          height: 26px;
        }
      }
    }

    &__select {
      margin-top: 15px;
    }

    &--cart {
      margin-top: 20px;
    }

    &--modal {
      gap: 10px;

      & input {
        padding: 11px 20px;
      }

      & .form {
        &__btn {
          max-width: 220px;
          margin: 0 auto;
        }
      }
    }

    &--min {
      & input {
        padding: 15px 20px;
        font-size: 14px;
      }

      & .form {
        &__btn-send {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
