.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--modal {
    margin-top: 25px;
  }

  &__checkbox {
    padding-bottom: 20px;
    border-bottom: 2px solid $light;

    &.disable {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__sub-checkbox {
    margin-top: 20px;
    margin-left: 45px;

    &:not(:last-of-type) {
      padding-bottom: 20px;
      border-bottom: 2px solid $light;
    }
  }

  &__hint {
    margin-top: 10px;
    margin-left: 45px;

    &--aqua {
      color: $aqua;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  & input {
    background-color: $light;
    border-radius: 99px;
    padding: 15px 20px;
    border: 2px solid transparent;

    font-weight: 500;
    font-size: 14px;
    line-height: 110%;

    transition: 0.2s ease;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &:focus {
      border-color: $aqua;
    }
  }

  &__error {
    display: none;
    padding: 0 20px;

    font-size: 14px;
    line-height: 110%;

    & a {
      color: $aqua;
    }

    &.active {
      display: block;
    }
  }

  &__select {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .form {
    gap: 15px;

    &--modal {
      margin-top: 20px;
    }

    &__checkbox {
      padding-bottom: 15px;
      border-bottom-width: 2px;
    }

    &__sub-checkbox {
      margin-top: 15px;
      margin-left: 35px;

      &:not(:last-of-type) {
        padding-bottom: 15px;
        border-bottom-width: 1px;
      }
    }

    &__hint {
      margin-top: 5px;
      margin-left: 35px;

      font-size: 10px;
    }

    & input {
      border-width: 1px;
      font-size: 12px;
    }

    &__error {
      font-size: 12px;
    }

    &__select {
      margin-top: 15px;
    }
  }
}
