.header {
  &__top {
    padding: 25px 0;
    background-color: $black;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdowns {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 20px;

    & a {
      color: $white;
      transition: 0.2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: $aqua;
        }
      }
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $white;

    transition: 0.2s ease;

    & svg {
      fill: $black;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $aqua;
      }
    }
  }

  &__bottom {
    position: relative;
    background-color: $light;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;

    & a {
      position: relative;
      display: block;

      & svg {
        fill: $black;
        transition: 0.2s ease;
      }

      & span {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $aqua;

        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 5;

        font-weight: 700;
        font-size: 18px;
        color: $white;
      }

      @media (any-hover: hover) {
        &:hover {
          & svg {
            fill: $aqua;
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .header {
    &__top {
      display: none;
    }
  }
}
