.headline {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: $black;
}

// @media (max-width: 767px) {
//   .headline {
//     font-size: 32px;
//   }
// }
