.modal {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;

  &__window {
    position: relative;
    max-width: 470px;
    width: 100%;
    height: initial;

    background-color: $white;
    box-shadow: -8px 0px 13px rgba(0, 0, 0, 0.07);

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  &__wrapper {
    padding: 30px;
    background-color: $white;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__headline {
    display: flex;
    align-items: center;
    gap: 20px;

    padding-bottom: 15px;
    border-bottom: 2px solid $light;
  }

  &__arrow {
    &.prev {
      transform: rotate(90deg);
    }

    &.next {
      transform: rotate(-90deg);
      margin-left: auto;
    }

    & svg {
      fill: $black;
      transition: 0.2s ease;
    }

    &:hover {
      & svg {
        fill: $aqua;
      }
    }

    &.disable {
      pointer-events: none;
      opacity: 0.1;
    }
  }

  &__content {
    max-width: 570px;
    width: 100%;
    height: 100%;
    padding: 40px 20px 40px 0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    scrollbar-width: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__close {
    padding: 20px;

    position: absolute;
    top: -20px;
    right: 100%;
    z-index: 1;

    & svg {
      fill: $white;
    }
  }

  &--cart {
    justify-content: flex-end;
    z-index: 90;

    & .modal {
      &__window {
        max-width: 50%;
        height: 100%;

        padding: 0 30px;
        transform: translateX(100%);
        transition: 0.5s ease;
      }

      &__close {
        top: 20px;
      }
    }

    &.open {
      & .modal {
        &__window {
          transform: translateX(0);
        }
      }
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;

    & .modal {
      &__window {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1279px) {
  .modal {
    &--cart {
      & .modal {
        &__window {
          max-width: 60%;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .modal {
    &--cart {
      & .modal {
        &__window {
          max-width: 85%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .modal {
    &__window {
      max-width: 350px;
    }

    &__content {
      padding: 25px 0;
    }

    &__headline {
      padding-bottom: 10px;
    }

    &__close {
      top: 0;
      right: 0;
      padding: 22px 16px 12px;

      & svg {
        width: 18px;
        height: 18px;
        fill: $black;
      }
    }

    &--cart {
      & .modal {
        &__window {
          max-width: 100%;
          padding: 0 15px;
        }

        &__close {
          top: 0;
        }
      }
    }
  }
}
