.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__item {
    & a {
      color: $black;
    }

    & > a {
      position: relative;
      display: block;
      padding: 37px 0;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: $aqua;

        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 5;

        transform: translateX(-50%);
        transition: 0.3s ease;
      }

      @media (any-hover: hover) {
        &:hover {
          &::after {
            width: 110%;
          }
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        & .nav__sub {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__sub {
    width: 100%;
    padding: 30px $desktop-padding;
    background-color: #ededed;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;

    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;

    &-list {
      max-width: 260px;
      width: 100%;

      display: flex;
      flex-direction: column;
    }

    &-item {
      & > a {
        display: block;
        width: 100%;
        padding: 10px 0 8px;

        border-bottom: 2px solid transparent;
        transition: 0.2s ease;

        @media (any-hover: hover) {
          &:hover {
            border-bottom-color: $white;
          }
        }
      }

      @media (any-hover: hover) {
        &:hover {
          & .nav__end {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &__end {
    width: calc(100% - ($desktop-padding + 260px));
    height: 100%;
    padding: 40px $desktop-padding 40px 40px;
    background-color: $white;

    position: absolute;
    top: 0;
    left: calc($desktop-padding + 260px);
    z-index: 5;

    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px 25px;
    }

    &-link {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 20px;

      @media (any-hover: hover) {
        &:hover {
          & .headline {
            color: $aqua;
          }
        }
      }
    }

    &-back {
      display: none;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    grid-row: span 2;

    & img {
      object-fit: contain;
    }
  }
}

@media (max-width: 1279px) {
  .nav {
    &__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    &__item {
      position: relative;
      width: 100%;

      &::after {
        content: "";

        width: 22px;
        height: 12px;
        background-color: initial;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0709 1.84309L8.70692 8.20705C8.31639 8.59758 7.68323 8.59758 7.2927 8.20705L0.928741 1.84309C0.538216 1.45257 0.538216 0.819404 0.928741 0.42888C1.31926 0.0383552 1.95243 0.0383552 2.34295 0.42888L7.99981 6.08573L13.6567 0.42888C14.0472 0.0383552 14.6804 0.0383552 15.0709 0.42888C15.4614 0.819404 15.4614 1.45257 15.0709 1.84309Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        position: absolute;
        top: 22px;
        right: 0;
        z-index: 1;
      }

      & > a {
        width: 100%;
        padding: 15px 0;
        font-size: 30px;
      }

      &.open {
        &::after {
          transform: rotate(-90deg);
        }

        & .nav__sub {
          display: block;
        }
      }
    }

    &__sub {
      display: none;
      padding: 0 0 0 25px;
      background-color: transparent;

      position: static;
      visibility: visible;
      opacity: 1;

      &-list {
        max-width: initial;
      }

      &-item {
        & > a {
          padding: 12px 0;
          border-bottom-width: 0;
        }

        &.open {
          & .nav__end {
            display: block;
          }
        }
      }
    }

    &__end {
      display: none;
      width: 80%;
      padding: 50px 25px;
      background-color: $light;

      position: fixed;
      top: 100px;
      left: 0;

      visibility: visible;
      opacity: 1;

      &-list {
        grid-template-columns: 1fr 1fr;
        gap: 40px 20px;
      }

      &-back {
        display: flex;
        align-items: center;
        gap: 15px;

        margin-bottom: 50px;

        & svg {
          transform: rotate(90deg);
        }

        & span {
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .nav {
    &__item {
      & > a {
        padding: 10px 0;
        font-size: 18px;
      }

      &::after {
        width: 16px;
        height: 8px;
        top: 19px;
      }
    }

    &__sub {
      padding: 0 0 0 20px;

      &-item {
        & > a {
          padding: 8px 0;
          font-size: 14px;
        }
      }
    }

    &__end {
      width: 100%;
      padding: 30px 15px;

      top: 188px;

      &-back {
        gap: 10px;
        margin-bottom: 25px;

        & svg {
          width: 20px;
          height: 20px;
        }
      }

      &-list {
        gap: 30px 20px;
      }

      &-link {
        gap: 15px;
      }
    }

    &__img {
      width: 50px;
      height: 50px;
    }
  }
}
