.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &__num {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    color: $black;

    transition: 0.2s ease;

    @media (any-hover: hover) {
      &:hover {
        color: $aqua;
      }
    }

    &.prev {
      margin-right: 20px;
    }

    &.current {
      color: $aqua;
    }

    &.next {
      margin-left: 20px;
    }
  }
}
