html {
  scroll-behavior: smooth;
}

html.lock {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $black;
}

.hidden {
  display: none !important;
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
