.device {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__accordion {
    &.open {
      & .device {
        &__head-block {
          & svg {
            transform: rotate(-90deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          overflow: initial;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__head {
    padding: 20px 0;
    background-color: $aqua;

    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      & svg {
        fill: $white;
        transition: 0.3s ease;
      }
    }
  }

  &__title {
    letter-spacing: normal;
    color: $white;
    text-transform: initial;
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    background-color: $light;
  }

  &__container {
    min-height: 0;
  }

  &__wrapper {
    padding: 50px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    overflow-x: auto;
    padding-bottom: 5px;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 8px;

      &-thumb {
        background-color: $light-grey;
      }
    }
  }

  &__item {
    min-width: 180px;
    width: 100%;
    height: 50px;
    background-color: $white;
    border-radius: 99px;
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.3s ease;

    &.active {
      border-color: $aqua;
      background-color: $light;
    }
  }

  &__filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;

    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $light-grey;
  }

  &__proposition {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    gap: 10px;

    margin-top: 30px;
  }

  &__product {
    font-weight: 700;
  }

  &__decor {
    width: 100%;
    height: 100%;
    border-bottom: 2px dashed $light-grey;
  }

  &__field {
    margin-top: 30px;

    & input {
      width: 100%;
      background-color: $white;
      border-radius: 99px;
      padding: 15px 20px;
      border: 2px solid transparent;

      font-weight: 500;
      font-size: 16px;
      line-height: 110%;

      transition: 0.2s ease;

      &:focus {
        border-color: $aqua;
      }
    }
  }

  &__inner {
    padding: 30px 0;

    display: flex;
    gap: 30px;
  }

  &__img {
    max-width: 270px;
    width: 100%;
    background-color: $white;
    flex-shrink: 0;

    & img {
      object-fit: contain;
    }
  }

  &__info {
    width: 100%;

    & .title {
      letter-spacing: normal;
    }
  }

  &__colors {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 20px;

    &-list {
      display: flex;
      gap: 15px;
    }

    &-item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    margin-top: 20px;

    &-title {
      letter-spacing: normal;
      text-transform: initial;
    }

    & p {
      color: $grey;
    }
  }

  &__exchange {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    margin-top: 50px;

    & p {
      max-width: 260px;
      color: $grey;
    }

    &-btn {
      max-width: 460px;
    }
  }

  &__hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    text-align: center;
  }
}

@media (max-width: 1279px) {
  .device {
    &__head {
      padding: 15px 0;
    }

    &__wrapper {
      padding: 30px 0;
    }

    &__item {
      border-width: 1px;
    }

    &__filters {
      grid-template-columns: 1fr 1fr;

      margin-top: 20px;
      border-bottom-width: 1px;
    }

    &__decor {
      border-bottom: 1px;
    }

    &__field {
      margin-top: 20px;

      & input {
        border-width: 1px;
      }
    }

    &__inner {
      flex-direction: column;
    }

    &__exchange {
      margin-top: 30px;

      &-btn {
        max-width: 460px;
      }
    }
  }
}

@media (max-width: 767px) {
  .device {
    &__container {
      max-width: 100dvw;
    }

    &__list {
      margin: 0 -15px;
      padding: 0 15px;

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    &__item {
      min-width: 130px;
      height: 35px;
    }

    &__filters {
      grid-template-columns: initial;
      gap: 10px;

      padding-bottom: 20px;
    }

    &__proposition {
      margin-top: 15px;
    }

    &__inner {
      gap: 15px;
    }

    &__img {
      max-width: 380px;
    }

    &__colors {
      margin-top: 15px;

      &_list {
        gap: 10px;
      }

      &-item {
        width: 20px;
        height: 20px;
      }
    }

    &__price {
      margin-top: 15px;
    }

    &__exchange {
      flex-direction: column;
      align-items: initial;
      gap: 10px;
      margin-top: 15px;

      &-btn {
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
}
