.ordering {
  &__list {
    margin-bottom: 20px;
  }

  &__item {
    padding: 20px 0;
    border-bottom: 2px solid $light;

    &--service {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-price {
      font-weight: 600;
    }
  }

  & table {
    width: 100%;

    & tbody {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & tr {
      display: grid;
      grid-template-columns: 2fr auto 1fr;
      align-items: baseline;
      gap: 20px;

      & td {
        &:last-of-type {
          text-align: right;
        }
      }
    }
  }

  &__amount {
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
  }

  &__guarantee-cost {
    font-weight: 600;
    grid-column: span 2;
  }

  &__user-info {
    margin-top: 10px;

    & p {
      line-height: 160%;

      & span {
        color: $grey;
      }
    }
  }
}
