.services {
  margin-top: 30px;
  margin-bottom: 60px;

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 380px;
    gap: 30px;
  }

  &__link {
    position: relative;
    background-color: $black;
    overflow: hidden;

    & h3 {
      color: $white;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    & img {
      width: initial;
      height: initial;
      object-fit: initial;

      position: absolute;

      transition: 0.3s ease;
    }

    &:nth-of-type(1) {
      & img {
        &:first-of-type {
          top: -127%;
          right: -35%;
        }

        &:last-of-type {
          bottom: -85%;
          left: -37%;
        }
      }

      &:hover {
        & img {
          transform: scale(1.1);

          &:first-of-type {
            top: -114%;
            right: -45%;
          }

          &:last-of-type {
            bottom: -74%;
            left: -43%;
          }
        }
      }
    }

    &:nth-of-type(2) {
      grid-row: span 2;

      & h3 {
        top: 24%;
      }

      & img {
        bottom: -4%;
        right: -4%;
      }

      &:hover {
        & img {
          transform: scale(1.2);
          bottom: -8%;
          right: -10%;
        }
      }
    }

    &:nth-of-type(3) {
      & img {
        bottom: -7%;
        right: -38%;
      }

      &:hover {
        & img {
          transform: scale(1.2);
          right: -46%;
        }
      }
    }
  }

  &__article {
    margin-top: 30px;
    padding-top: 60px;
    border-top: 1px solid $light-grey;
  }

  &__title {
    margin-bottom: 40px;

    & span {
      color: $aqua;
    }

    &--center {
      text-align: center;
    }
  }

  &__img {
    aspect-ratio: 1140 / 600;
    margin-bottom: 40px;
  }

  &__box {
    column-count: 2;
    column-gap: 40px;

    & p + p {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1279px) {
  .services {
    margin-top: 20px;
    margin-bottom: 40px;

    &__links {
      grid-template-columns: initial;
      grid-auto-rows: 380px;
      gap: 20px;
    }

    &__link {
      &:nth-of-type(2) {
        order: 1;
      }
    }

    &__article {
      margin-top: 20px;
      padding-top: 40px;
    }

    &__box {
      column-count: initial;
      column-gap: initial;
    }
  }
}
@media (max-width: 767px) {
  .services {
    &__links {
      grid-auto-rows: 180px;
      gap: 10px;
    }

    &__article {
      padding-top: 20px;
    }

    &__title {
      text-align: left;
      margin-bottom: 10px;
    }

    &__box {
      & p + p {
        margin-top: 15px;
      }
    }
  }
}
