.trade {
  margin-top: 30px;
  margin-bottom: 50px;

  &__block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  &__btn-call {
    max-width: 460px;
    margin: 50px auto 0;
  }

  &__content {
    max-height: 365px;
    overflow: hidden;

    & p + p,
    & p + ul,
    & ul + p,
    & ul + ul,
    & li + li {
      margin-top: 10px;
    }

    & li {
      list-style-type: disc;
      list-style-position: inside;
    }

    &.show {
      max-height: initial;
    }
  }
}

@media (max-width: 1279px) {
  .trade {
    &__block {
      grid-template-columns: initial;
      gap: 20px;
    }

    &__content {
      max-height: 500px;
    }
  }
}

@media (max-width: 767px) {
  .trade {
    margin-top: 20px;
    margin-bottom: 30px;

    &__block {
      margin-top: 15px;
    }

    &__btn-call {
      margin: 20px auto 0;
    }

    &__content {
      max-height: 125px;
    }
  }
}
